.kont {
    max-width: 1120px;
    margin: 0 auto;
    padding: 102px 0;
}
.zaglav{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-weight: 42px;
    font-style: normal;
    text-align: center;
    padding-bottom: 42px;
    color: black;
}
.cflex{
    display: flex;
    flex-direction: column;
}
.box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
}
.item:nth-child(3){
    grid-column: span 2;
    grid-row: span 2;
}
.item:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
}
.nambi{
    width: 256px;
    height: 256px;
    background: url(Rectangle_25.png);
}
.keni{
    width: 256px;
    height: 256px;
    background: url(Rectangle_44.png);
}
.tanza{
    width: 542px;
    height: 542px;
    background: url(Rectangle_34popular-3.png);
}
.bots{
    width: 256px;
    height: 256px;
    background: url(Rectangle_63.png);
}
.uafr{
    width: 256px;
    height: 256px;
    background: url(Rectangle_64.png);
}
.nafr{
    width: 542px;
    height: 542px;
    background: url(Rectangle_69.png);
}
.key{
    width: 256px;
    height: 256px;
    background: url(Rectangle_65.png);
}
.uar{
    width: 256px;
    height: 256px;
    background: url(Rectangle_67.png);
}
.zanzi{
    width: 256px;
    height: 256px;
    background: url(Rectangle_66.png);
}
.vika{
    width: 256px;
    height: 256px;
    background: url(Rectangle_68.png);
}
.price{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700 bold;
    font-style: normal;
    line-height: 20.8px;
    margin: 0 0 19px 25px;
    margin-top: 11.5em;
    color: white;
}
.price1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700 bold;
    font-style: normal;
    line-height: 20.8px;
    margin: 0 0 19px 25px;
    margin-top: 10.9em;
    color: white;
}
.price2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700 bold;
    font-style: normal;
    line-height: 20.8px;
    margin: 0 0 19px 25px;
    margin-top: 10em;
    color: white;
}
.price3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700 bold;
    font-style: normal;
    line-height: 20.8px;
    margin: 0 0 19px 25px;
    margin-top: 19em;
    color: white;
}
.price4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700 bold;
    font-style: normal;
    line-height: 20.8px;
    margin: 0 0 19px 25px;
    margin-top: 8.5em;
    color: white;
}
.nazvanie{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500 medium;
    font-style: normal;
    line-height: 31.2px;
    margin: 16px 0 24px 15px;
    color: white;
}
.mnazvanie{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500 medium;
    font-style: normal;
    line-height: 23.4px;
    margin: 16px 0 24px 15px;
    color: white;
}
.dopop{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 20.8px;
    margin: 8px 0 20px 15px;
    color: white;
}